# TODO: original cfg or this one, remove TODO comments after adding the details
[package]
# TODO: adjust - internal package name (no spaces/special characters)
name = "module"
# TODO: adjust - kurze Beschreibung des Moduls
description = "Neues NWN Modul"
version = "0.1"
url = ""

  [package.sources]
  include = "src/**/*.{nss,json}"

  [package.rules]
  "*" = "src/$ext"

[target]
name = "default"
# TODO: adjust - Name of the generated .mod file (also determines the name
# of the release zip, as the workflow automatically detects *.mod)
file = "module.mod"
description = "Mod"
